<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<form [formGroup]="Bookform" class ="form">
  <div class="formdiv">
    <p class ="head">Book a Flight</p>
  <br>
  <br>
  <div class="name">
    <div>
      <label>Name : </label>
      <input formControlName="Name" type="text" [ngModel]="Book.name">
      <span style="color: red;" *ngIf="Bookform.get('Name')?.errors?.['required']"> required !</span>
    </div>
  </div>
  <table padding="10px" class="dropdown">
    <tr>
      <td>
        <p >Form</p>
          <select  formControlName="From" [ngModel]="Book.from" class="dropdown">
            <!-- <option value="default">What would you like to drink?</option> -->
            <option value="Thailand">Thailand</option>
            <option value="England">England</option>
            <option value="Newzealand">New zealand</option>
            <option value="Australia">Australia</option>
            <option value="Singapore">Singapore</option>
          </select>
      </td>
      <td>
        <p>To</p>
          <select formControlName="To" [ngModel]="Book.to" class="dropdown">
            <option value="Thailand">Thailand</option>
            <option value="England">England</option>
            <option value="Newzealand">New zealand</option>
            <option value="Australia">Australia</option>
            <option value="Singapore">Singapore</option>
          </select>
        <span style="color: red" *ngIf="Bookform.get('From')===Bookform.get('To')">please don't select same destination</span>
      </td>
    </tr>
  </table>
  <!-- style="float:left" -->
  <table class="trip">
    <tr>
      <td>
        <p>Trip Type</p>
        <div>
          <input style="float:left"  type="radio" id="oneway"  value="oneway"  formControlName="Type" [ngModel]="Book.type" >
          <label for="oneway">One way</label><br>
          <input  style="float:left"  type="radio" id="return"  value="return"  formControlName="Type" [ngModel]="Book.type">
        <label for="return"> Return</label>
        </div>
        </td>
        <td>
          <div>

            <mat-form-field>
              <p>Choose Departure Day</p>
              <!-- <mat-label>Chose Departure Day</mat-label> -->
              <input matInput [matDatepicker]="datepicker" formControlName="Departure" [ngModel]="Book.departure">
              <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
              <mat-datepicker #datepicker></mat-datepicker>
            </mat-form-field>
          </div>
        </td>
        <td>
          <div>

            <mat-form-field>
              <p>Choose Arrival Day</p>
              <!-- <mat-label>Chose Departure Day</mat-label> -->
              <input matInput [matDatepicker]="datepicker2" formControlName="Arrival" [ngModel]="Book.arrival">
              <mat-datepicker-toggle matSuffix [for]="datepicker2"></mat-datepicker-toggle>
              <mat-datepicker #datepicker2></mat-datepicker>
            </mat-form-field>
        </div>
      </td>

    </tr>
  </table>
  <table>
    <tr>
      <td>
        <p>Adults</p>
        <input pattern ="\d+"type="Number"  step ="1"  formControlName="Adult" [ngModel]="Book.adults" OnlyNumber="true">
        <span style="color: red;" *ngIf="Bookform.get('Adult')?.errors"> Must be positive integer!</span>
      </td>
      <td>
        <p>Children</p>
        <input pattern ="\d+" type="Number"   formControlName="Children" [ngModel]="Book.children" >
        <span style="color: red;" *ngIf="Bookform.get('Children')?.errors"> Must be positive integer!</span>
      </td>
      <td>
        <p>Infants</p>
        <input pattern ="\d+" type="Number"   formControlName="Infant" [ngModel]="Book.infants" >
        <span style="color: red;" *ngIf="Bookform.get('Infant')?.errors"> Must be positive integer!</span>
      </td>
    </tr>
  </table>
  <div class="button">
    <button type="submit"  (click)="submitb(Bookform)!"[disabled]="Bookform.invalid" >Submit</button>
  </div>

  </div>
</form>
<!-- <p>{{Book |json}}</p> -->
<p text-align="center"  class="head1" color="black">History</p>
  <div class="history">
    <table >
      <thead>

        <tr>
          <th>Name</th>
          <th>From</th>
          <th>To</th>
          <th>Type</th>
          <th>Departure</th>
          <th>Arrival</th>
          <th>Adult</th>
          <th>Children</th>
          <th>Infants</th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let f of Books"  >
          <td>{{f.name}}</td>
          <td>{{f.from}}</td>
          <td>{{f.to}}</td>
          <td>{{f.type}}</td>
          <td>{{convertdate(f.departure)}}</td>
          <td>{{convertdate(f.arrival)}}</td>
          <td>{{f.adults}}</td>
          <td>{{f.children}}</td>
          <td>{{f.infants}}</td>
        </tr>
      </tbody>
    </table>
  </div>


