.form{
  display:flex;
  justify-content:center;
  background-color:rgba(58, 56, 56, 0.822);
  /* margin: 10px; */
  /* padding:5%; */
  width: 100%;
  box-shadow: 8px 7px 11px 3px rgb(255, 192, 213);
  border-radius: 10px 10px 10px 10px;
  animation:mymove 60s infinite
}
.name{
  display:flex;
  text-align: center;
  /* align-items: center; */

  justify-content:center;
}
.formdiv{
  padding:5% 8%;
}
@keyframes mymove{
  70% {box-shadow: 6px 5px 10px 2px rgb(255, 0, 0);}


}
button{
  border-radius: 5px 5px 5px 5px;
  box-shadow: 2px 1px  rgba(255, 255, 255, 0.418);
  padding:1% 3% 1% 3%;
  color:rgba(211, 209, 209, 0.801);
  background-color: rgba(42, 42, 180, 0.856)
}
.button{

  display: flex;
  justify-content: center;
  margin:10px;
  /* width: 50%; */
}
.dropdown{
   text-align:center;
  /* justify-content: space-between;  */
  display: flex;
  justify-content:center;
  border-radius: 5px 6px 5px 6px;
  position:relative;

}

td,td,table{
  align-items: center;
  align-content: center;
  padding: 10px;;
  margin:20px;
}
.history table,.history tr,.history td,.history td {
  text-align:center;
  align-items:center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.575);
  padding:5px;
  width: calc(100% + 15rem);

  border-collapse: collapse;
  font-size:15px;
  color:black;


}
.trip{
  display: flex;
  justify-content: center;
  /* padding: -100px 5px 5px 5px; */
  margin-top: -7%;
  margin-bottom: -7%;
}
.history{
  display: flex;
  justify-content: center;

}
input{
  display: flex;
  justify-content: center;
  border-radius: 5px 5px 5px 5px;
}
