
html{
    /* border: 1px solid; */
  display:-ms-flexbox;
  /* justify-content:center; */
    background:rgba(5, 143, 185, 0.664);
    color: white;
    margin: 10px  50px 10px 50px;



}
*{
    /* align-items: center; */
    gap:5px;
    margin: 2% 0 2% 0;
    font-family:cursive;
    font-size:15px;
}
div{
  /* background-color:blue; */
}
.head{
  /* margin-top:-5%; */
  font-size:40px;
  text-align: center;
}
.head1{
  padding-top: 1%;
  /* padding-bottom: 2%; */
  margin-top:10%;
  font-size:40px;
  text-align: center;
  color:black
}
input {
  margin: 0;
  /* border: 1px solid; */
  border:0px;
  padding: 7px 15px;
  background-color:rgb(29, 29, 29);
  color: white;
  font-size:15px;
}
html, body { height: 100%; }
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
